<form #myForm="ngForm" (ngSubmit)="aggiungiCodice()">

  <div>
    Nome:
    <input input type="text"  id="nome" required [(ngModel)]="codice.nome" name="nome">
  </div>

  <div>
    Cognome:
    <input type="text" id="cognome" name="cognome" required [(ngModel)]="codice.cognome" >
  </div>

  <div>
    Data di nascita:
    <input type="date" id="data" name="data" required [(ngModel)]="codice.dataDiNascita" >
  </div>
  <div>
    Comune di nascita:
    <input type="text" id="comune" nome="comune" required [(ngModel)]="codice.comuneDiNascita" >
  </div>
  <div>
    Sesso:
    <input type="text" id="sesso" nome="sesso" required [(ngModel)]="codice.sesso" >
  </div>

  <button type="submit" [disabled]="!myForm.valid" >Calcola</button>

</form>
<br/>
<p>Codice fiscale: {{codice}}</p>

